<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Your custom AngularJS file -->
    <script src="app1.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="deleteUserData()">clear  user  data </button>
    <button ng-click="deleteJobsData()">clear jobs data  </button>
    <button ng-click="alldelete()">clear all </button>
</body>
</html>